
@{
    ViewData["Title"] = "Network Creator";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!-- Maps to /create or /create/index -->
<link rel="stylesheet" href="~/css/createStyles.css" />

<div class="row justify-content-center">
    <div class="col-md-10 col-xs-12">
       <!-- Title Area-->

        <div class="jumbotron">
            <h2 id="title">Network Builder</h2>
            <div id="newNetwork">
				<label for="newNetworkName"> Network Name:  </label>
                <input type="text" id="newNetworkName" />
                <button id="saveNetwork" onclick="postNewNetwork()">Save Network </button>
            </div>
            
			<div id="controlButtons" class="row justify-content-center">
                <button id="addBtn" class="btn btn-primary  col-md-4  col-xs-10 col-xs-offset-1" onclick="ToggleVisibility('host')">Add Hosts</button>

                <button id="addSwitchBtn" class="btn btn-primary col-md-4  col-xs-10 col-xs-offset-1" onclick="ToggleVisibility('switch')">Add Switch</button>
            </div>
			
			
        </div>
		
    </div>
</div>
 <div class="row justify-content-center">


        <!-- host dropdown -->

        <div id="addHost">
           <!-- <button id="addHostImageBtn" class="btn btn-primary " onclick="addElement.addHost()"><span class="glyphicon glyphicon-plus-sign"></span> </button> -->
            <br />
            <br />
            <div id="namegroup" class="form-group">
                <label for="name">Name: </label>
                <input id="name" class="form-control" type="text"><br />
            </div>
            <div class="form-group">
                <label for="eth0">eth0: </label>
                <input id="eth0" class="form-control" type="text"><br />
            </div>


            <div class="form-group">
                <label for="switch">Connected Switch: </label>
                <input id="switch" class="form-control" type="text">
            </div>
            <br />

            <button id="saveBtn" onclick="postHost()" class="btn btn-success form-control">Save <span class="glyphicon glyphicon-save"></span></button>
        </div>


        <!-- switch dropdown -->

        <div id="addSwitch">
            <!--<button id="" class="btn btn-primary formBtn" onclick="addElement.addSwitch()"><span class="glyphicon glyphicon-plus-sign"></span> </button> -->
            <br />
            <br />
            <div id="namegroup" class="form-group">
                <label for="switchname"> Switch Name: </label>
                <input id="switchname" class="form-control" type="text"><br />
            </div>
            <div class="form-group">
                <label for="eth0sw">eth0: </label>
                <input id="eth0sw" class="form-control" type="text"><br />
            </div>
            <div class="form-group">
                <label for="eth1">Ports </label>
                <input id="ports" class="form-control" type="text">
            </div>
            <br />

            <button id="saveBtn" onclick="postSwitch()" class="btn btn-success form-control">Save <span class="glyphicon glyphicon-save"></span></button>

        </div>

    </div>
<div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">

            <!-- Display where network is built -->
            <div id="box">


            </div>

        </div>
</div>

 


<script type="text/javascript" src="~/js/test.js"></script>