
@{
    ViewData["Title"] = "V-NetLab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/HomeIndex.css" />

<div id="heading" class="row">
    <div class="col-md-offset-2 col-md-10 col-xs-12">
        <div id="mainWell" class="well well-lg">
            <h1>V-NetLab</h1>
            <h3>Network Configuration Tool</h3>
            <img id="netImg" src="~/images/network.png" />
        </div>

    </div>

</div>

<div  class="row">
    <div id="buttons">
       
             <a href="/Create" ><button id="btn1" class="btn btn-primary col-md-4 col-md-offset-3 col-xs-10 col-xs-offset-1" >Add A Network Configuration</button></a>
       
           <a href="/Saved"> <button id=" = btn2" class="btn btn-primary col-md-4 col-xs-10 col-xs-offset-1">View Saved Configurations </button></a>
    </div>
    
    
</div>


