
#newNetwork{
  margin-left:10%;
}
#saveNetwork{
    width:250px;
    margin-left:12%;
    margin-top:10px;
}
#title{
    text-align:center;
    font-size:42px;
    color:cadetblue;
}

#newNetworkLabel{
    font-size:18px;
    color:cadetblue;
    margin-right:8px;
}

#box {
    position:absolute;
    border: 3px solid black;
    border-radius: 5px;
    height: 600px;
    margin-bottom:'10px';
    background-color: lightgray;
    z-index:-100;
    width: 90%;
    margin-left:5%;
}


#addHost {
    position:absolute;
    display: none;
    width:300px;
    margin-right:10px;
    margin-left:10%;
    border:0px solid black;
    border-radius:5px;
    padding:10px;
    background-color:lightblue;
    z-index:100
}


#addSwitch {
    position:absolute;
    display: none;
    width:300px;
    margin-left: 30%;
    border: 0px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
    z-index:100;
}




#addBtn{
    width:325px;
    display:inline;

    margin:10px;
}
#addSwitchBtn{
    width:325px;
    display:inline;

    margin:10px;

}

#controlButtons
{
    margin-left:6%;
    display:none;
}

.formBtn {
    margin: 5px;
    margin-bottom:12px;
  
}

.form-group{
   margin-left:5%;
}
