body{
    background-color:floralwhite;
}

#mainWell{
    text-align:center;
    margin-top:15px;
    padding:10px;
}
 h1{
    text-align:center;
    font-size:56px;
    color:firebrick;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:4px;
    font-weight:bolder;
    text-decoration:underline;
}

 #buttons{
     margin-top:10px;
 }


#netImg{
    width:70%;
}
#btn1{
    margin:8px;
}