.listItem {
    border:0px solid black;
    border-radius:2px; 
   padding:10px;
   align-content:center;
   margin-top:5px;
  background-color: lightslategrey ;
}
#hostCount, #switchCount{
    display:inline-block;
    float:right;
    margin:5px;
    margin-top:25px;
    vertical-align:central;
    background-color: maroon;
    padding:8px;
}
#netName{
    display:inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px; 
    margin-bottom:25px;
    margin-left:20px;
    color: maroon;
}
#mainTitle{
    margin-left:40%;
    width:80%;
}

